<div class="row">
  <h4>
    Install
  </h4>
  {{#code-block language="bash"}}
> ember install ember-redux
> npm install --save rxjs
> npm install --save redux-observable{{/code-block}}

  <h4>
    Setup
  </h4>
  <pre class="language-style">
<a href="http://www.ember-redux.com/quickstart/" target="_blank">http://www.ember-redux.com/quickstart/</a>
  </pre>

</div>
